# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# others
sunone_aimbot_cpp/modules/
sunone_aimbot_cpp/screenshots/
sunone_aimbot_cpp/models/sunxds_0.6.8.onnx
sunone_aimbot_cpp/models/sunxds_0.6.8.engine
sunone_aimbot_cpp/_export.bat
.vs
sunone_aimbot_cpp/x64
x64
packages

# imgui
sunone_aimbot_cpp/imconfig.h
sunone_aimbot_cpp/imgui.cpp
sunone_aimbot_cpp/imgui.h
sunone_aimbot_cpp/imgui.ini
sunone_aimbot_cpp/imgui_draw.cpp
sunone_aimbot_cpp/imgui_impl_dx11.cpp
sunone_aimbot_cpp/imgui_impl_dx11.h
sunone_aimbot_cpp/imgui_impl_win32.cpp
sunone_aimbot_cpp/imgui_impl_win32.h
sunone_aimbot_cpp/imgui_internal.h
sunone_aimbot_cpp/imgui_tables.cpp
sunone_aimbot_cpp/imgui_widgets.cpp
sunone_aimbot_cpp/imstb_rectpack.h
sunone_aimbot_cpp/imstb_textedit.h
sunone_aimbot_cpp/imstb_truetype.h
